################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentel.BookStore/.vs
/Webgentel.BookStore/bin/Debug/net6.0
/Webgentel.BookStore/obj
